default: &default
  adapter: postgresql
  encoding: unicode
  host: db
  pool: 5

development:
  <<: *default
  database: auto_bisect_poc_development

test:
  <<: *default
  database: auto_bisect_poc_test
